

a {
    text-decoration: none;
}
  
.pokemon-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
    width: 250px; 
  }
  
  .pokemon-content {
    text-align: center;
  }
  
  .pokemon-content img {
    height: 150px;
    width: 200px;
    object-fit: contain;
  }
  

.types {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.type {
    height: 30px;
    width: 100px;
    font-size: 16px;
    margin: 0 5px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.name-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.name-number h2 {
    margin: 0;
    font-size: 22px;
    color: #072ac8;
    font-weight: lighter;
}

.name-number p {
    margin: 0;
    font-size: 18px;
    color: #000000;
    font-weight: lighter;
}

.bug { background-color: #42946C; }
.dragon { background-color: #61C1B6; }
.grass { background-color: #5ABE79; }
.steel { background-color: #8FDFAB; }
.dark { background-color: #444649; }
.flying { background-color: #8E9BAB; }
.normal { background-color: #B98EB7; }
.ghost { background-color: #91589D; }
.rock { background-color: #5D3515; }
.ground { background-color: #815831; }
.fighting { background-color: #B95821; }
.fire { background-color: #DC3E2D; }
.electric { background-color: #F5C242; }
.poison { background-color: #6846F6; }
.psychic { background-color: #C92AB1; }
.fairy { background-color: #DC506A; }
.water { background-color: #4960E6; }
.ice { background-color: #A2DEED; }