* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
  
body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.header-info {
    height: 70px;
    background-color: #072ac8;
    color: #fff;
    padding: 20px;
    display: flex;
}

.content-info {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.info-pokeball {
    position: absolute;
    width: 90px;
    opacity: 70%;
    right: 1%;
    top: -3.5%;
}

.header-info img {
    width: 40px;
    transform: scaleX(-1);
}